# Mac
.DS_Store

# Maven
log/
target/

# Emacs
*~

# Python
*.pyc

# nohup
nohup.out

# pickle files
*.pkl

aws_setup.sh

# Log files
*.log

# EC2 key files
*.pem

# backup files
*.bak

#floo
.floo
.flooignore
