
{% extends "basic.html" %}

{% block custom_dashboard %}

<!--###################### test_error_multiline_plot ###################-->
<div class="container-fluid" style ='padding-bottom: 1cm'>
    <div class="col-lg-10 col-lg-offset-1">
        <h2> Cumulative rewards
            <button type="button" class="btn btn-primary btn-xs"
                  onclick="popup_alert('The error against a hold out set defined as \'Test\' on the new experiment page. That is, each algorithm learns an embedding based on its training data that it has collected and is evaluated based on the evaluation set collected as \'Test\'. All results are evaluated using the most up-to-date collection of \'Test\'. The curve denoted as \'Test\' is the \'Test\' collected data evaluated on the embedding was solved for using \'Test\' as training data for the \'Hinge\' method.')">?</button>
        </h2>
    </div>
  <div class="col-lg-10 col-lg-offset-1" style='text-align: center'>
    <div id="cumulative_reward_plot"></div>
  </div>
</div>
<script>

  cumulative_reward_plot = function(data) {
    data['width'] = 800
    data['height'] = 350
    mpld3.draw_figure("cumulative_reward_plot", data);
  }

  $.ajax({
    url: "{{ dashboard_url }}/get_stats",
    type: "POST",
    contentType: "application/json",
    data: JSON.stringify({
        'exp_uid': "{{ exp_uid }}",
        'args':{
            'stat_id' : 'cumulative_reward_plot',
            'params'  : {}
            }
        }),
    dataType: "json"
    }).done( function(data,textStatus, jqXHR) {
    delete data['meta']
    cumulative_reward_plot(data)
    }).fail( function(error){
    console.log("Failed to get stats", error);
    });

</script>


{% endblock %}
