<style>
html,body{
	height:100%;
}

div.container{
	height:100%;
}

#wrapper {
	height:100%;
}

div.row > div.col-xs-6 {
	outline: 1px solid black;
}

div.row > div.col-xs-12 {
	padding:10px;
	text-align:center;
	outline: 1px solid black;
}

div.option{
	outline: 2px solid black;
	padding:10px;
	display:inline-block;
	margin:5px;
}

#center {
	height:50%;
}

#center > div.col-xs-12 {
	height:100%;
}

#center_text {
	max-height:25%;
	margin-top:10px;
	margin-bottom:5px;
}

#query {
	height:100px;
	text-align:center;
}

.image_container{
	display:inline-block;
	width:100%;
}

#wrapper img{
	vertical-align:middle;
	max-height:100%;
	max-width:100%;
	height:auto;
}

.text_container{
	display:table;
	width:100%;
}

.text{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	word-wrap: break-word;
	font-size: 3vmin;
	width:100%;
}

.option.inactive{
    background-color:#ccc;
    cursor: not-allowed;
}

.option.active{
    background-color:#fff;
    cursor: pointer;
}

.option .text, .option .text_container {
	height:100%;
}
</style>
<br>
{% if query.context_type %}
<div class="row" id="center">
  <div class="col-xs-12">
    {% if query.initial_query %}
        {% for target in query.targets %}
        <div class="option"
         id="{{target.index}}"
         onclick="submit_initial({{target.index}})">
          <img src="{{target.target.primary_description}}" />
            <p><b>{{query.target_instructions[target.index]}}</b></p>
        </div>
        {% endfor %}
     {% else %}
          {% if query.context_type == "text" %}
          <div style="display:table;height:100%;width:100%;">
            <div class="center-block text">
              {{ query.context }}
            </div>
          </div>
          {% elif query.context_type == "image" or query.context_type == "img" %}
          <div class="image_container">
            <img src='{{ query.context }}'> </img>
          </div>
          {% endif %}
      {% endif %}
  </div>
</div>
{% endif %}
<!-- query -->
<div class="row" id="center_text">
  <div class="col-xs-12">
    {% if query.initial_query  %}
        {{query.instructions}}
        <br />
        {% for target in query.targets %}
        <div class="option"
         id="{{target.index}}"
         onclick="submit_initial({{target.index}})">
          <img src="{{target.target.primary_description}}" />
            <p><b>{{target.instructions}}</b></p>
        </div>
        {% endfor %}
    {% else %}
        {% if query.targets[0].target.primary_type == "image" or query.targets[0].target.primary_type == "img" %}
        <div class="image_container"> 
          <img class="image" src="{{ query.targets[0].target.primary_description }}"> </img>
          <p></p><p> Clicks: <a id="clicks">0</a> < </p>
        </div>
        <div id="init_query" style="float:right;">
          Starting image: <br /><img width="50%" height="50%" class="image" src="{{ query.main_target.primary_description }}"> </img>
        </div>
        {% elif query.targets[0].target.primary_type == "text"%}
        <div class="text_container">
          <div class="text"> Clicks: <a id="clicks">0</a> </a>< </div>
        </div>
        {% endif %}
    {% endif %}
  </div>
</div>

<!-- labels -->
<div id="query" class="row">
  {% if query.labels %}
  {{query.instructions}}
  <br />
  {% for label in query.labels %}
  <div class="option active"
	  id="option{{loop.index}}"
	  onclick="submit({{ label.reward }}, {{loop.index}})">
    <div class="text_container">
      <div class="text">{{ label.label }}</div>
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>


<script>

{% if not query.initial_query  %}
$(document).keydown(function(e) {
    switch(e.which) {
        case 37: // left
        submit(-1, 1);
        break;
        case 39: // right
        submit(1, 2)
        break;
        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});
  {% endif %}
  var submit_initial = function(index) {
      next_widget.processAnswer({"initial_query": true,
          "answer":{"initial_arm":index}});
      $("#"+index).css({'outline': '2px solid #FF0000'});
      increment_click()
  }

  var clickable = true;

  var submit = function(reward, index) {
    if(!clickable) return;
    increment_click()
    clickable = false;
    var len=20000;
    $(this).delay(len).queue(function(next){
        clickable = true;
        next();
     });
    {% for label in query.labels %}
      $('#option{{loop.index}}').removeClass("active").addClass("inactive").delay(len).queue(function(next){
        $(this).removeClass("inactive").addClass("active");
        next();
      });
    {% endfor %}
      $("#option"+index).css({'outline': '2px solid #FF0000'});
      next_widget.processAnswer({"initial_query": false, "answer": {"target_reward": reward}});

    var clicks = 0;
    function increment_click() {
        clicks += 1;
        document.getElementById("clicks").innerHTML = clicks;
    };

  }
</script>